In [5]:
import pandas as pd

# Load datasets
ratings = pd.read_csv(r"D:\NM\phase 3\ml-32m\ratings.csv")
movies = pd.read_csv(r"D:\NM\phase 3\ml-32m\movies.csv")

# Merge on 'movieId'
merged_df = pd.merge(ratings, movies, on='movieId')

# Show the first few rows
merged_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,17,4.0,944249077,Sense and Sensibility (1995),Drama|Romance
1,1,25,1.0,944250228,Leaving Las Vegas (1995),Drama|Romance
2,1,29,2.0,943230976,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
3,1,30,5.0,944249077,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
4,1,32,5.0,943228858,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [1]:
import pandas as pd

ratings = pd.read_csv(r"../data/ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858